/* header */
.window_container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

header {
    padding: 52px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_header {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #27187F;
}

.header_ul {
    display: flex;
    column-gap: 50px;
}

.header_li {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #758BFD;
}

.active {
    color: #27187F;
}

.fa-magnifying-glass {
    color: #758BFD;
    font-size: 35px;
}

.search {
    display: flex;
    justify-content: end;
    border: 3px solid #27187F;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
}

/* section */

.section {
    display: flex;
    flex-wrap: wrap;
    background-color: #DDEAF8;
    row-gap: 68px;
    padding: 94px 0px 135px 98px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #27187F;
}

.section_container {
    display: flex;
    flex-wrap: wrap;
    gap: 52px 22px;
}

.box {
    width: 28%;
    padding: 33px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    background-color: #FFFFFF;
}

.section_p {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #133B3A;
}

/* footer */

footer {
    display: flex;
    background-color: #758BFD;
    padding: 75px 109px 75px 100px;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

h4 {
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #00CAD7;
}

.mail {
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.social_media {
    display: flex;
    column-gap: 20px;
}

.fa-brands {
    font-size: 22px;
    color: #FFFFFF;
}

.Cards {
    display: flex;
    align-items: center;
    column-gap: 11px;
}